@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta HTTP-EQUIV="REFRESH" CONTENT="5;URL=/home/index">
    <title>Contacto</title>
</head>
<body>
    <div>
        <p><span style="color:red;">@ViewData["output"]</span></p>
        <p>@ViewData["nombre"]</p>
        <p>@ViewData["correo"]</p>
        <p>@ViewData["msj"]</p>
    </div>
</body>
</html>
