@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>quienes somos</title>
    <link rel="stylesheet" href="~/Content/robotturmixenelnorte.css" />
    @Styles.Render("~/Content/normalize.css")
    @Styles.Render("~/Content/bootstrap/bootstrap.min.css")
</head>
<body>
    <div id="root">
        <header>
            <img src="" alt="Logo Robot" />
            <nav>
                <ul>
                    <a href="index"><li>Inicio</li></a>
                    <a href="About"><li>Quienes somos</li></a>
                    <a href="Contact"><li>Contacto</li></a>
                </ul>
            </nav>
        </header>
        <section class="row">
            <div class="col-sm-12 col-md-6">
                <img src="~/img/rainbow3.jpg" width="100%" />
            </div>
            <div class="col-sm-12 col-md-6 textoCentrado">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </section>
        <footer>
            Redes sociales, Telefonos, correos
        </footer>
    </div>

    <!-- scripts -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
