@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/robotturmixenelnorte.css" />
    @Styles.Render("~/Content/normalize.css")
    @Styles.Render("~/Content/bootstrap/bootstrap.min.css")
    <title>Inicio</title>
</head>
<body>
    <div id="root">
        <header>
            <img src="" alt="Logo Robot" />
            <nav>
                <ul>
                    <a href="index"><li>Inicio</li></a>
                    <a href="About"><li>Quienes somos</li></a>
                    <a href="Contact"><li>Contacto</li></a>
                </ul>
            </nav>
        </header>
        <section class="water main-section row">
            <div class="col-sm-12">
                <h1>ROBOT de Turmix llega a Tijuana!</h1>
                <h5>
                    Turmix de México SA de CV fabricante del extraordinario sistema de limpieza ROBOT
                    Ya tiene oficinas de promoción y venta en Tijuana
                </h5>
                <h5>Purifica tu ambiente y tu salud!</h5>
                <!---<img src="~/img/water.jpg" width="100%" />--->
            </div>
        </section>
        <section class="second-section row">
            <div class="col-sm-12 col-md-6"><img src="../img/T8.png" width="300"/></div>
            <div class="col-sm-12 col-md-6">
                <h3>Robot Platinum Social , Conócela!</h3>
                <p>¿Estás cansada de utilizar aspiradoras con las viejas, incómodas y contaminantes bolsas? La nueva Robot Platinum no funciona con filtros, 
                aprovecha el poder del agua para eliminar el polvo, lavar el aire y generar ambientes limpios y saludables. Robot Platinum mejora tu ambiente 
                y tu salud, es un aliado extraordinario de la limpieza profunda en casas, oficinas, negocios, hospitales, centros educativos y todos aquellos 
                espacios que desees mantener libres de contaminación.</p>
            </div>
        </section>
        <section class="waterfall third-section row">
            <div class="col-sm-12">
                <h1>SOLICITA UNA DEMO</h1>
                <h5>
                    La nueva Robot Platinum ha integrado la tecnología Nano Silver a su sistema de purificación del aire, <br />
                    reduciendo en un 99.99% las bacterias que se alojan en él.
                </h5>
            </div>
            <div class="col-sm-12">
                <br />
            <a href="https://wa.me/526642369794/?text=Hola%20estoy%20interesado%20en%20una%20demostración"  class="boton">Quiero una demostración!</a>
            </div>
            <!---<img src="~/img/waterfall.jpg" width="100%" />-->
        </section>
        <section class="fourth-section row">
            <div class="col-sm-12 col-md-6">
                <iframe width="460" height="215" src="https://www.youtube-nocookie.com/embed/pzhpUtJYF-o?autoplay=1&amp;mute=1&amp;rel=0&amp;showinfo=0&amp;controls=1&amp;start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="col-sm-12 col-md-6">
                <p>
                    Si cuenta ya con una ROBOT le ofrecemos gratuitamente el diagnostico de su maquina! <br />
                    y un descuento especial en los consumibles para el mejor uso de su equipo Turmix.
                </p>
            </div>
            
        </section>
        <footer>
            <div class="row pie">
                <div class="col-sm-12 col-md-4 pie-elemento"></div>
                <div class="col-sm-12 col-md-4 pie-elemento"></div>
                <div class="col-sm-12 col-md-4 pie-elemento">Redes sociales, Telefonos, correos</div>
            </div>
        </footer>
    </div>

    <!-- scripts -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
